<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <style>
        header {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 20px 0;
        }
        footer {
            background-color: #343a40;
            color: white;
            text-align: center;
            padding: 10px 0;
        }
        .addPersonForm {
            text-align: center;
            width: 40%;
            margin: 0 auto;
            padding: 20px;
        }
        .addTaskForm {
            text-align: center;
            width: 40%;
            margin: 0 auto;
            padding: 20px;
        }
        td.editable {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div id="app">
        <header>
            <h1>Project List</h1>
        </header>

        <div class="addPersonForm">
            <h2>Add Project</h2>
            <form @submit.prevent="addProject">
                <div class="mb-3">
                    <label for="projectName" class="form-label">Project Name</label>
                    <input type="text" class="form-control" id="projectName" v-model="newProjectName">
                </div>
                <button type="submit" class="btn btn-primary">Add Project</button>
            </form>
        </div>

        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Users</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(project, index) in projects" :key="project.id">
                    <td @click="editProjectName(project)" class="editable">
                        <span v-if="project.editing">
                            <input v-model="project.newName">
                        </span>
                        <span v-else>
                            {{ project.project_name }}
                        </span>
                    </td>
                    <td>
                        <ul>
                            <li v-for="task in project.tasks" :key="task.report_id">
                                <!-- Вывод данных о задаче и пользователе -->
                                Report ID: {{ task.report_id }}<br>
                                First Name: {{ task.user.first_name ? task.user.first_name : 'N/A' }}<br>
                                Last Name: {{ task.user.last_name ? task.user.last_name : 'N/A' }}<br>
                                Role: {{ task.user.role ? task.user.role : 'N/A' }}<br>
                                Profession: {{ task.user.profession ? task.user.profession : 'N/A' }}<br>
                                Entry Time: {{ task.entry_time }} hours<br>
                                Status: {{ task.status }}<br>
                                <!-- Добавьте кнопки для редактирования, удаления и добавления пользователя -->
                                <button @click="editTask(project, task)">Edit Task</button>
                                <button @click="removeTask(project, task.report_id)">Delete Task</button>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <button @click="updateProject(project)" class="btn btn-warning" v-if="project.editing">Update</button>
                        <button @click="removeProject(project.id)" class="btn btn-danger" v-else>Delete</button>
                        <button @click="addTask(project, task ? task.report_id : 0)">Add User</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer>
            <p>&copy; 2023 Artjom Volkov</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@3.2.26/dist/vue.global.prod.js"></script>
    <script>
        const vue = Vue.createApp({
            data() {
                return {
                    projects: [],
                    newProjectName: '',
                };
            },
            created() {
                this.fetchProjects();
                this.projects.forEach(project => project.editing = false);
            },
            methods: {
                editProjectName(project) {
                    project.editing = true;
                    project.newName = project.project_name;
                },
                addProject: async function() {
                    const response = await fetch('http://localhost:8080/projects', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ project_name: this.newProjectName })
                    });
                    if (response.ok) {
                        const newProject = await response.json();
                        newProject.editing = false;
                        this.projects.push(newProject);
                        this.newProjectName = '';
                    }
                },
                removeProject: async function(id) {
                    const response = await fetch(`http://localhost:8080/projects/${id}`, {
                        method: 'DELETE'
                    });
                    if (response.ok) {
                        this.projects = this.projects.filter(project => project.id !== id);
                    }
                },
                updateProject(project) {
                    const updatedProjectData = {
                        project_name: project.newName
                    };

                    fetch(`http://localhost:8080/projects/${project.id}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(updatedProjectData)
                    })
                    .then(response => {
                        if (response.ok) {
                            project.editing = false;
                            project.project_name = project.newName;
                        } else {
                            console.error('Error updating project on the server');
                        }
                    })
                    .catch(error => {
                        console.error('An error occurred:', error);
                    });
                },
                editTask: function(project, task) {
                    const fieldToEdit = prompt('Enter the field to edit: first_name(1), last_name(2), role(3), profession(4), entry_time(5)');
                    if (fieldToEdit === null) {
                        return;
                    }

                    switch (fieldToEdit) {
                        case '1':
                            const newFirstName = prompt('Enter new first name', task.user.first_name);
                            if (newFirstName !== null) {
                                task.user.first_name = newFirstName;
                            }
                            break;

                        case '2':
                            const newLastName = prompt('Enter new last name', task.user.last_name);
                            if (newLastName !== null) {
                                task.user.last_name = newLastName;
                            }
                            break;

                        case '3':
                            const newRole = prompt('Enter new role', task.user.role);
                            if (newRole !== null) {
                                task.user.role = newRole;
                            }
                            break;

                        case '4':
                            const newProfession = prompt('Enter new profession', task.user.profession);
                            if (newProfession !== null) {
                                task.user.profession = newProfession;
                            }
                            break;

                        case '5':
                        const newEntryTime = prompt('Enter new entry time', task.entry_time);
                        if (newEntryTime !== null) {
                            // Обновляем entry_time
                            task.entry_time = parseInt(newEntryTime, 10) || task.entry_time;
                            // Обновляем статус на "подтвержден"
                            task.status = 'подтверждена';
                        }
                        break;
                        default:
                            alert('Invalid field name. Please enter a valid field (first_name, last_name, role, profession, entry_time, status).');
                            break;
                    }

                    // Отправьте обновленные данные задачи на сервер
                    this.updateTaskOnServer(project, task);
                },
                addTask: function(project, reportId) {
                    // Запрашиваем у пользователя данные для создания нового пользователя
                    const newFirstName = 'New First Name';
                    const newLastName = 'New Last Name';

                    // Проверяем, существует ли пользователь с таким именем в проекте
                    const existingUser = project.tasks.find(task => task.user.first_name === newFirstName && task.user.last_name === newLastName);

                    if (existingUser) {
                        alert('User with the same name already exists in the project.');
                        return;
                    }

                    const newRole = 'New Role';
                    const newProfession = 'New Profession';

                    // Создаем новую задачу с новым `report_id` и данными пользователя
                    const newTask = {
                        report_id: project.tasks.length + 1,
                        user: {
                            first_name: newFirstName,
                            last_name: newLastName,
                            role: newRole,
                            profession: newProfession,
                        },
                    };

                    // Добавляем новую задачу к проекту
                    project.tasks.push(newTask);

                    // Отправляем данные новой задачи на сервер
                    this.addTaskToServer(project, newTask); // Отправляем нового пользователя на сервер

                    // Добавляем небольшую задержку (например, 100 миллисекунд) перед обновлением данных
                    setTimeout(() => {
                        this.fetchProjects(); // После задержки обновляем данные
                    }, 100);
                },
                addTaskToServer: function(project, newTask) {
                    console.log('Sending new task to the server:', newTask);

                    fetch(`http://localhost:8080/projects/${project.id}/tasks`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(newTask)
                    })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            console.error('Error adding task to the server');
                            throw new Error('Error adding task to the server');
                        }
                    })
                    .then(newTaskData => {
                        console.log('New task data from server:', newTaskData);
                        project.tasks.find(task => task.report_id === newTask.report_id).user = newTaskData.user;
                        setTimeout(() => {
                            this.fetchProjects();
                        }, 100);
                    })
                    .catch(error => {
                        console.error('An error occurred:', error);
                    });
                },
                removeTask: async function(project, reportId) {
                    const response = await fetch(`http://localhost:8080/projects/${project.id}/tasks/${reportId}`, {
                        method: 'DELETE'
                    });
                    if (response.ok) {
                        project.tasks = project.tasks.filter(task => task.report_id !== reportId);
                    }
                },
                updateTaskOnServer: function(project, task) {
                    // Отправьте данные обновленной задачи на сервер, чтобы сохранить изменения
                    fetch(`http://localhost:8080/projects/${project.id}/tasks/${task.report_id}`, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(task)
                    })
                    .then(response => {
                        if (response.ok) {
                            console.log('Task updated successfully.');
                        } else {
                            console.error('Error updating task on the server', response);
                        }
                    })
                    .catch(error => {
                        console.error('An error occurred:', error);
                    });
                },
                fetchProjects: async function() {
                    this.projects = await (await fetch('http://localhost:8080/projects')).json();
                }
            }
        }).mount('#app');
    </script>
</body>
</html>